* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
}

.logo {
    margin: -2px;
    cursor: pointer;

}

.nav_bar li {
    display: inline-block;
    margin: 10px;
}

.posts,
.dashboard {
    color: white;
    text-decoration: none;
}

.nav_bar li:hover {
    background-color: #b8b8b873;
    padding: 5px;
    border-radius: 5px
}

.profile_img {
    width: 30px;
    border-radius: 5px;
    margin: 8px 50px 5px 0px;
    cursor: pointer;
}

.modal_item {
    margin: 0px;
}

.modal_input {
    background-color: #cfcece;
    border-radius: 7px;
    margin-top: 5px;
}

.modal_input_img {
    margin: 5px 0px;
    background-color: #cfcece;
    padding: 4px;
    border-radius: 6px;

}


.img {
    width: 100% !important;
    margin: 5px 0px;
    background-color: #cfcece;
    padding: 5px;
    border-radius: 6px;
}



.modal_input Input {
    width: 100% !important;
    border: none;
    outline: none;
    background-color: transparent;
}

.modal_button {
    display: flex;
    justify-content: flex-end;
}

.modal_button Button {
    width: 75px;
    margin: 5px;
}