* {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.signin_page {
    display: flex;
    flex-direction: row;
}

.sign_in {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign_in p {
    text-align: center;
    margin: 30px 0px;
    font-size: 22px;
    font-weight: 400;
}

Input {
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    display: inline-block;
    width: 350px !important;
    min-width: 0;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    transition: all 0.2s;
}

.checkbox {
    color: #8e8b8b;
}

.checkbox {
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;
}

.checkbox a {
    margin-right: 0px;
}

Button {
    width: 100%;
}

.create_account {
    margin: 20px 0px;
    text-align: center;
    font-size: 14px;
}

.create_account span,
.checkbox span {
    color: #a09f9f;

}

.create_account A {
    font-weight: 500;
}

.img_content_signin {
    width: 50%;

}


.signin_image {
    width: 100%;
    height: 638px;
    object-fit: cover;

}