* {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.signup_page {
    display: flex;
    flex-direction: row;
}

.sign_up {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign_up p {
    text-align: center;
    margin: 30px 0px;
    font-size: 22px;
    font-weight: 400;
}

.name_content {
    display: flex;
    flex-direction: row;
}

.name_content Input {
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    width: 170px !important;
    min-width: 0;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    transition: all 0.2s;
}

.first_name {
    margin-right: 10px;
}



.available_account {
    margin: 20px 0px;
    text-align: center;
    font-size: 14px;
}

.available_account span {
    color: #a09f9f;

}

.available_account a {
    font-weight: 500;
}

.img_content {
    width: 50%;
    overflow: hidden
}

.sign_image {
    width: 100%;
    height: 638px;
    object-fit: cover;

}